.cart-wrapper {
  margin-left: 54px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.product-box {
  width: calc(100% / 4 - 20px);
}
.products-item {
  flex: 1 300px;
  height: 475px;
  background-color: #fff;
  border: 1px solid #e4e5ec;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  box-sizing: border-box;
  position: relative;
  margin: 0 10px 30px;
}
.products-item:hover {
  cursor: pointer;
  border: 2px solid #61d5df;
}
.products__item--input {
  border-radius: 3px;
  outline: 0;
  border: 1px solid #c0c0c0;
  background-color: red;
  color: #61d5df;
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
  padding: 5px;
}
.products__item--input:hover {
  background-color: #61d5df;
  color: #fff;
}
.products__item--input--highlited {
  border: 2px solid #61d5df;
  cursor: pointer;
  flex: 1 300px;
  height: 475px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  box-sizing: border-box;
  position: relative;
  margin: 0 10px 10px;
}
.products-image {
  width: 100%;
  height: 170px;
  vertical-align: middle;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.products-image img {
  max-width: 100%;
  max-height: 100%;
}
.products-info {
  margin-top: 50px;
}
.products-title {
  padding: 10px;
  overflow: auto;
  max-height: 100px;
}
.products-title p {
  margin: 5px 0;
}
.qty {
  color: black;
  font-weight: 800;
}
.products-supplier {
  font-size: 16px;
  line-height: 1.63;
  color: #707070;
  margin-left: 10px;
}
.products-supplier button {
  background: 0 0;
  border: none;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #58c3cc;
  margin-left: 5px;
  outline: 0;
  cursor: pointer;
}
.products-title h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
.products-price {
  border-top: 2px solid #e4e5ec;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.products-paper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.products-paper:hover .hidden-btn {
  display: block;
}
