.content__products {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  overflow: auto;
}
#products-wrapper {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 20px;
  gap: 8px;
}
