.content__products {
    display: flex;
    width: 100%;
    overflow: auto;
}
#products-wrapper {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 20px;
    height: calc(100vh - 120px);
    gap: 8px;
}