.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background: #f8f9fa;
}
.content__header-btn {
  background-color: #61d5df;
  color: white;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  padding: 10px;
  font-size: 12px;
  border: none;
  font-weight: 600;
  font-family: 'Roboto';
}
.content__header-title {
  font-size: 12px;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 12px;
  font-family: 'Roboto';
}
.content__header-btn--big {
  height: 40px;
  padding: 0 14px;
  font-weight: 600;
}
.header-select {
  padding-left: 50px;
}
.help-btn {
  font-size: 14px;
  border: 2px solid #49547d;
  width: 24px;
  height: 24px;
  background-color: #fdfcfc;
  color: #49547d;
  border-radius: 50%;
  font-weight: bolder;
  outline: 0;
  cursor: pointer;
  margin-left: 10px;
}
.header-side {
  display: flex;
  flex: 2 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
  padding-right: 14px;
}
.right-buttons {
  padding-right: 80px;
}
